<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 Humberto Fraga <xisberto@gmail.com>.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
  
  Contributors:
      Humberto Fraga <xisberto@gmail.com> - initial API and implementation
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xisberto.phonetodesktop"
    android:installLocation="auto"
    android:versionCode="119"
    android:versionName="1.2.0 beta 6" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PhoneToDesktop" >
        <activity
            android:name="net.xisberto.phonetodesktop.PhoneToDesktopActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.xisberto.phonetodesktop.SendTasksActivity" 
            android:label="@string/filter_title"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.PhoneToDesktop.ActivityOrDialog">
            <intent-filter android:label="@string/filter_title" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name="net.xisberto.phonetodesktop.GoogleTasksService" >
        </service>

        <activity android:name="net.xisberto.phonetodesktop.TutorialActivity" >
        </activity>
        <activity android:name="net.xisberto.phonetodesktop.SettingsActivity" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name="net.xisberto.phonetodesktop.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.xisberto.phonetodesktop.PhoneToDesktopActivity" />
        </activity>
        <activity
            android:name="net.xisberto.phonetodesktop.LinkListActivity"
            android:label="@string/title_activity_link_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.xisberto.phonetodesktop.PhoneToDesktopActivity" />
        </activity>

        <service
            android:name="net.xisberto.phonetodesktop.GoogleTasksService"
            android:exported="false" >
        </service>
    </application>

</manifest>